@model ProductsListViewModel

@foreach (var p in Model.Products)
{
    <div class="card m-1 p-1">
        <div class="card-header">
            <h4>
                @p.Name
                <span class="badge rounded-pill text-bg-primary" style="float:right">
                    <small>@p.Price.ToString("c")</small>
                </span>
            </h4>
        </div>
        <div class="card-body card-text p-1">
            @p.Description
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true" 
    page-class="btn" page-class-normal="btn-outline-primary" 
    page-class-selected="btn-outline-secondary" class="btn-group me-2">
</div>