<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>SportsStore</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand">SPORTS STORE</a>
            </div>
        </nav>
    </header>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            Put something useful here later
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
</body>
</html>
